body {
  background-color: #d7fbe8;
  margin: 0px;
  padding: 0px;
}

.header-1 {
  margin-left: 0px;
  background-color: #51c4d3;
  width: 100%;
  height: 35px;
  border-bottom: 30px solid gray;
}
.menu ul li {
  display: inline-block;
  color: lightgray;
  margin-left: 20px;
  height: 30px;
}
.menu ul li a {
  color: #0f0f00;
  text-decoration: none;
  font-size: 20px;
}
.menu ul li:hover {
  border-bottom: 1px solid white;
}
.menu ul li a:hover {
  color: #ffffff;
}
.menu {
  background-color: #62d2a2;
  text-align: center;
  width: 100%;
  float: left;
}
.logo {
  background: #1fab89;
  margin: 0px;
}
button.slick-prev {
  font-size: 0px;
  border: none;
  background-color: transparent;
}
button.slick-next {
  font-size: 0px;
  border: none;
  background-color: transparent;
}
.slick-initialized {
  overflow: hidden;
}
.slick-dots li button {
  font-size: 0px;
  border: 3px solid white;
  width: 26%;
  height: 26%;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 95%;
}
li.slick-active button {
  background: #28df99;
}
.slick-dots li {
  padding-left: 10px;
  display: inline-block;
}
#titulo {
  font-family: sans-serif;
  text-align: center;
  margin: 10px;
  color: black;
}
fieldset {
  border: 0;
}
input,
select,
textarea,
button {
  font-family: sans-serif;
  font-size: 1em;
  color: black;
  border-radius: 5px;
}
body {
  font-family: sans-serif;
}
.grupo:before,
.grupo:after {
  display: table;
}
.grupo:after {
  clear: both;
}
.campo {
  margin-bottom: 1em;
}
.campo label {
  display: block;
}
fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}
.campo input[type="text"],
.campo input[type="email"],
.campo input[type="number"],
.campo input[type="date"],
.campo input[type="time"],
.campo select {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
}
.campo input:focus,
.campo select:focus {
  background: #e0e0f8;
}
.cadastrar {
  font-size: 1.2em;
  background: #01a9b4;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.cadastrar:hover {
  background: #ccbbff;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}
.cadastrar,
select {
  cursor: pointer;
}
.conteudoForm {
  margin-left: 28%;
  margin-top: 2%;
  justify-content: center;
}
#subtitulo {
  font-family: sans-serif;
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 10%;
}
