<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./../css/main.css" />
    <title>Estacionamento Livre</title>
  </head>
  <body>
    
    <header "menu.principal">
      <div class="logo">
        <img src="./../img/estacionamento-logo.png" width="20%" height="15%"/>
      </div> 
    </header>
    <main>
      <div class="header-1">
        <div class="menu">
          <ul>
            <li>
              <a href="./../index.html">INICIO</a>
            </li>           
            <li>
              <a href="./about.html">SOBRE</a>
            </li>
            <li>
              <a href="./services.html">SERVIÇOS</a>
            </li>
            <li>
              <a href="./contact.html">ENTE EM CONTATO</a>
            </li>
          </ul>
        </div>

        
       </div>
    </main>
    <p id="subtitulo"> Se você está à procura de mais conforto, segurança e comodidade para o seu veículo na Grande São Paulo, chegou ao lugar certo! Seja bem-vindo ao Estacionamento Livre, o mais completo estacionamento, aberto 24 horas na Capital Paulista, com tarifa de apenas R$ 18 para o período de 12 horas!

        Localizado estrategicamente ao lado do Terminal Rodoviário do Tietê, o Estacionamento Livre dá acesso também a outros pontos importantes da cidade, como, por exemplo, o Sambódromo do Anhembi. Contando com três diferentes portarias, nossos clientes têm fácil e rápido acesso a várias localidades das regiões central e norte da capital. Oferecemos serviços de altíssima qualidade, com custo reduzido. Além disso, nossos clientes podem aproveitar todas as vantagens do sistema Self Park, isto é, você estaciona, tranca seu veículo e leva a chave!
        
     </p>
     <p id="subtitulo"> Oferecemos serviços de altíssima qualidade, com custo reduzido. Além disso, nossos clientes podem aproveitar todas as vantagens do sistema Self Park, isto é, você estaciona, tranca seu veículo e leva a chave! A segurança está garantida em um complexo que conta com quatro câmeras com cancela e 70 câmeras em HD, assegurando total monitoramento de cada uma das entradas e das 2 mil vagas disponíveis em nosso espaço interno. Outro diferencial do Estacionamento Livre é nossa vocação para ponto de encontro para viagens e convenções.</p>
  </body>
</html>
