<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- sair do views e entrar na pasta css -->
    <link rel="stylesheet" href="./../css/main.css" />
    <title>Estacionamento Livre</title>
  </head>
  <body>
    
    <header "menu.principal">
      <div class="logo">
        <img src="./../img/estacionamento-logo.png" width="20%" height="15%"/>
      </div> 
    </header>
    <main>
      <div class="header-1">
        <div class="menu">
          <ul>
            <li>
              <a href="./../index.html">INICIO</a>
            </li>
            <li>
              <a href="./about.html">SOBRE</a>
            </li>
            <li>
              <a href="./services.html">SERVIÇOS</a>
            </li>
            <li>
              <a href="./contact.html">ENTRE EM CONTATO</a>
            </li>
          </ul>
        </div>

        
       </div>
    </main>
    <section>
      <h1>Dúvidas? Entre em contato com a gente</h1>
      <form >
          <label for="nome">Digite seu nome:</label>
          <input id="nome"placeholder="digite seu nome aqui">
          <br>
          <label for="email">Digite seu email:</label>
          <input id="email" placeholder="Digite seu e-mail">
          <br>
          <textarea name="" id="msg" cols="28" rows="8">escreva sua mensagem</textarea>

          <input type="submit" name="enviar" value="Enviar">    
      </form>
    </section>
  </body>
</html>
